@charset "UTF-8";

:root {
    --cor1: #1F2232;
    --cor2: #3F4464;
    --cor3: #757DA9;
    --cor4: #F1F3F9;
    --cor5: #FFC857;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--cor1);
    color: var(--cor4);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.container > img {
    padding: 10px;
}

span#burguer {
    padding: 10px;
    cursor: pointer;
    order: 0;
}

nav {
    display: none;
}

nav > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: bolder;
    margin: 10px;
}

nav > ul > li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
}

nav a:hover {
    color: white;
}

main.caixa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin-top: 100px;
}

main > section > h1 {
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
    margin: 10px;
    padding: 10px;
    color: var(--cor4);
}

main > section > h2 {
    font-size: 1.5em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
    margin: 10px;
    padding: 10px;
    color: var(--cor4);
}

main section div {
    margin: 30px;
    margin-left: 15%;
}

main > section > div > a {
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 13px;
    background-color: #fccb6a;
    color: var(--cor4);
}

main > section > div > a:hover {
    border: 2px solid var(--cor1);
    transform: translate(-3px, -3px);
    transition: transform, .3s, 3s;
}

main > section img {
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.568);
}