@charset "UTF-8";

@media (min-width:768px) {

    div.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.container > img {
        display: none;
    }

    nav {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav > img {
        padding: 10px;
    }

    span#burguer {
        display: none;
    }

    nav > ul > li {
        display: inline-block;
        list-style-type: none;
        font-weight: bolder;
        margin: 10px;
    }

    main.caixa {
        flex-wrap: nowrap;
    }
}